html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.classLink:link {
  text-decoration: none;
  color: #ff6600;
}

.classLink:visited {
  color: #ff6600;
}

.classLink:hover {
  background: #ff6600;
  border-radius: .5em;
  color: black;
}

form * {
  background: transparent;
}

input[type=text], input[type=password], input[type=submit], input[type=email], input[type=url], input[type=tel], input[type=number], input[type=datetime], textarea, button, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 5px;
  margin: 0;
  margin-bottom: 10px;
}

.group:before, .group:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

body {
  background: #2b323b;
  background: -webkit-linear-gradient(#475161, #2b323b) no-repeat, #2b313b;
  background: -moz-linear-gradient(#475161, #2b323b) no-repeat, #2b313b;
  background: -ms-linear-gradient(#475161, #2b323b) no-repeat, #2b313b;
  background: -o-linear-gradient(#475161, #2b323b) no-repeat, #2b313b;
  background: linear-gradient(#475161, #2b323b) no-repeat, #2b313b;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#475161', endColorstr='#2b313b', GradientType=0 );
}

.hidden {
  display: none;
}

.nav ul {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
  padding-left: 40px;
  text-align: center;
}

.nav li {
  list-style: none;
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  color: #fff;
  background: #93481a;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: inset 0 -3px 4px #6e3614;
  -moz-box-shadow: inset 0 -3px 4px #6e3614;
  box-shadow: inset 0 -3px 4px #6e3614;
  cursor: pointer;
  zoom: 1;
  *display: inline;
}

.nav li.activeTab {
  background: #466e82;
  font-weight: bold;
  color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@media only screen and (max-device-width: 480px) {
  .nav ul {
    margin-top: 5px;
  }
}
#thanks {
  font: normal .8em/1em Arial, Helvetica, Geneva, sans-serif;
  background: #ddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
  -webkit-box-shadow: 10px 10px 20px #20242c;
  padding: 20px;
}

#thanks h2 {
  color: #a3643d;
}

.message {
  position: relative;
  top: 15px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 5px;
  color: #fff;
  padding: 5px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #466e82;
}

.alert {
  position: absolute;
  right: 15px;
  top: 28px;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #93481a;
}

.dayTableClass td, .dayTableClass th {
  padding: .5em;
  border: 1px solid black;
}

.nameClass {
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.instructorClass {
  font-style: italic;
  text-align: center;
}

.colTime {
  white-space: nowrap;
}

#gxScheduleForm {
  font: normal .8em/1em Arial, Helvetica, Geneva, sans-serif;
  width: 80%;
  margin: 0 auto;
  background: url(brownlines.jpg) #ddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 20px #20242c;
  -mox-box-shadow: 10px 10xp 20px #20242c;
  box-shadow: 10px 10px 20px #20242c;
}

#gxScheduleForm fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

#gxScheduleForm fieldset:before {
  content: attr(title);
  display: block;
  padding: 0;
  padding: 20px 10px 3px 10px;
  font-weight: bold;
  font-size: 1.25em;
  color: #1bb;
  margin: 0 auto;
  text-shadow: 1px 1px 1px #3a6;
}

#gxScheduleForm legend {
  display: none;
}

#gxScheduleForm ol {
  margin: 0px;
  padding: 0px;
}

#gxScheduleForm ol li {
  position: relative;
  list-style: none;
  padding: 8px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #888;
}

#gxScheduleForm ol li:first-child {
  border-top: none;
}

#gxScheduleForm ol li:last-child {
  border-bottom: none;
}

#gxScheduleForm ol li ol li {
  padding-bottom: 0;
  display: inline;
  padding: 0px;
  border-top: none;
  border-bottom: none;
}

#gxScheduleForm ol li ol li label {
  font-weight: normal;
  display: inline;
  cursor: pointer;
}

#gxScheduleForm ol li.singleline label {
  font-weight: normal;
  display: inline;
}

#gxScheduleForm ol li label, .grouphead {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #821200;
  text-shadow: 1px 1px 1px #271200;
  padding-left: 5px;
}

#gxScheduleForm ol li input, #gxScheduleForm textarea {
  display: block;
  width: 96%;
  padding: 5px;
  margin: 0 auto;
  outline: none;
  border: 1px solid #999;
  background: #cccccc;
  background: -webkit-linear-gradient(#ffffff, #bbbbbb) no-repeat;
  background: -moz-linear-gradient(#ffffff, #bbbbbb) no-repeat;
  background: -ms-linear-gradient(#ffffff, #bbbbbb) no-repeat;
  background: -o-linear-gradient(#ffffff, #bbbbbb) no-repeat;
  background: linear-gradient(#ffffff, #bbbbbb) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#bbbbbb', GradientType=0 );
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#gxScheduleForm ol li ol li input {
  width: auto;
  display: inline;
}

#gxScheduleForm ol li input[type="checkbox"] {
  width: auto;
  display: inline;
}

#gxScheduleForm textarea {
  height: 75px;
}

#gxScheduleForm ol li select {
  width: 200px;
  width: 50%;
  min-width: 100px;
  color: #411200;
  font-weight: bold;
  border: 0;
  background: #93481a;
  background: -webkit-linear-gradient(#93481a, #6d2f0e);
  background: -moz-linear-gradient(#93481a, #6d2f0e);
  background: -ms-linear-gradient(#93481a, #6d2f0e);
  background: -o-linear-gradient(#93481a, #6d2f0e);
  background: linear-gradient(#93481a, #6d2f0e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#93481a', endColorstr='#6d2f0e', GradientType=0 );
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#gxScheduleForm button, #gxScheduleForm .buttonnav {
  width: 100px;
  width: 20%;
  min-width: 100px;
  height: 24px;
  float: right;
  padding: 0;
  margin-right: 10px;
  margin-top: 5px;
  border: 0;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  background: #466e82;
  background: -webkit-linear-gradient(#466e82, #2c4552);
  background: -moz-linear-gradient(#466e82, #2c4552);
  background: -ms-linear-gradient(#466e82, #2c4552);
  background: -o-linear-gradient(#466e82, #2c4552);
  background: linear-gradient(#466e82, #2c4552);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#466e82', endColorstr='#2c4552', GradientType=0 );
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#gxScheduleForm button:hover, #gxScheduleForm .buttonnav:hover {
  background: #93481a;
  background: -webkit-linear-gradient(#93481a, #6d2f0e);
  background: -moz-linear-gradient(#93481a, #6d2f0e);
  background: -ms-linear-gradient(#93481a, #6d2f0e);
  background: -o-linear-gradient(#93481a, #6d2f0e);
  background: linear-gradient(#93481a, #6d2f0e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#93481a', endColorstr='#6d2f0e', GradientType=0 );
}

#gxScheduleForm .buttonnav {
  display: inline-block;
  height: 19px;
  padding-top: 5px;
  text-align: center;
  margin-bottom: 10px;
  zoom: 1;
  *display: inline;
}

#gxScheduleForm .buttonnav.prev {
  margin-left: 10px;
  float: none;
  background: -webkit-linear-gradient(#466e82, #2c4552);
}

#gxScheduleForm .buttonnav.prev:hover {
  margin-left: 10px;
  float: none;
  background: -webkit-linear-gradient(#93481a, #6d2f0e);
}
